*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
.container{
    height: 100vh;
    width: 100vw;
    background-color:rgb(97, 97, 188);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 550px;
    width: 1050px;
    background-color: black;
    display: flex;
    

}
.box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.leftbox{
    height: 550px;
    width: 500px;
    background-color:rgb(94, 8, 94);
    display: flex;
    flex-direction: column;
    text-align:center;
    padding:60px;
    margin: 0px;
    justify-content:space-around;
    color: white;
    
    

}
.rightbox{
    box-sizing: border-box;
    display: flex;
    flex-direction:row;
   
    
}
img{
    height: 550px;
    width: 550px;
    display: flex;
    justify-content:row;
    align-items:row;
    padding:0px;
    
    border: 5px solid rgb(94, 8, 94);
    
}
#static{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    justify-content:space-around;
  
    
}
#h1{
    
    justify-content: center;
    text-align:center;
    text-align:center;
    font-size: 45px;
}
#p{
    font-size: 21px;
    font-style: italic;
}
#s1{
    font-size: 25px;
    color:rgb(242, 158, 172);
    
}
#s2{
    font-size: 25px;
    color:rgb(242, 158, 172);
}
#s3{
    font-size: 25px;
    color:rgb(242, 158, 172);
}

